@import "./styleguide/colors";

html,
body {
  color: $black;
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

a {
  color: $brandBlue;
}

a:focus {
  text-decoration: none;
}

.ant-modal-close-x {
  svg {
    position: relative;
    top: 20px;
  }
}

.ant-layout {
  background: $white;
}
