@import '../styleguide/colors';
@import '../styleguide/gutters';

.Content {
  left: $siderWidth;
  padding: 20px;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  &--center {
    text-align: center;
  }
}
