@import '../styleguide/colors';
@import '../styleguide/gutters';

.Group {
  .GroupHeader {
    background: $grey2;
    border-bottom: 1px solid $grey1;
    padding: 12px;
    margin-bottom: 10px;
    display: flex;
    position: fixed;
    top: 0;
    left: $siderWidth;
    right: 0;
    z-index: 1;
  }

  .Messages {
    left: $siderWidth;
    height: calc(100% - #{$siderWidth} * 2);
    position: relative;
    overflow-wrap: break-word;
    overflow-y: scroll;
    top: 40px;
    width: calc(100% - #{$siderWidth});

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .MessageBar {
    background: $grey2;
    border-top: 1px solid $grey1;
    bottom: 0;
    padding: 14px;
    position: fixed;
    right: 0;
    width: calc(100% - #{$siderWidth});
    z-index: 1;

    textarea {
      resize: none;
    }
  }
}
