@import '../styleguide/colors';

.Message {
  .ant-typography,
  &__text {
    color: $black;
  }

  &:hover {
    background: $grey2;
  }

  div.ant-typography,
  &__text {
    margin-bottom: 0;
  }

  &__contents {
    padding: 10px;
  }
}
