@import '../styleguide/colors';

.Sider {
  background: $grey2 !important;
  border-right: 1px solid $grey1;

  img,
  svg {
    border-radius: 50%;
    height: 24px;
    width: 24px;
  }

  &__link {
    border-right: 3px solid transparent;
    display: block;
    padding: 12px;
    text-align: center;
    transition: background 100ms linear;

    &--active {
      background: $lightBlue;
      border-right: 3px solid $brandBlue;
    }

    &:hover {
      opacity: 0.8;
    }

    &__icon {
      margin-right: 18px;
    }
  }
}
