// Font sizes
$typeSmall: 12px;
$typeMedium: 14px;
$typeLarge: 16px;
$typeHeader: 40px;

// Font weights;
$weightExtraLight: 100;
$weightLight: 200;
$weightMedium: 300;
$weightBold: 600;
$weightExtraBold: 800;
